.sale {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
}

.contain {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid var(--color-1);
  padding: 5px 0;
  margin-bottom: 15px;
}

.head h2 {
  width: 20%;
  font-size: 18px;
  color: var(--color-1);
  user-select: none;
}

.head a {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-2);
  padding: 3px;
  border: 2px solid var(--color-2);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.head a::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--color-1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-101%);
  transition: all .6s;
}

.head a:hover::before {
  transform: translateX(0);
}

@media screen and (min-width: 800px) {
  .game {
    padding-top: 100px;
    padding-left: 80px;
  }
}