.card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid var(--color-1);
  padding: 5px 0;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 12px;
  font-weight: 600;
  color: var(--color-1);
  width: 20%;
}

.card button {
  width: max-content;
  height: max-content;
  background: none;
  padding: 3px;
  border-radius: 20px;
  font-size: 12px;
  color: var(--color-2);
  background-color: var(--color-3);
}

.card button:hover {
  outline: 3px solid var(--color-2);
}