.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 30%;  
}
.loadingText {
  font-size: 26px;
  font-weight: 900;
  margin-top: 5px;
  color: #0e5b13;
}
.loading{
  max-width: 30%;
}