.container {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  /* Propiedades de fondo para la imagen */
  background-image: url('http://localhost:3001/gaming/games/');
  background-size: cover;
  background-position: center top; /* Cambia la posición para que se muestre en la mitad superior */
}
.container img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}
.container h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: "Tommy the cat", sans-serif;
  color: #fff
}
.container p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  background-color: #000000a2; /* Cambiar el color de fondo según tu preferencia */
  padding: 5px; /* Añadir espaciado alrededor del texto */
  color: #fff
}
.container h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 50px;
  background-color: #ff0000a2;
  color: #fff
}
a {
  text-decoration: none;
}
button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.home-button {
  background-image:url(../../assets/Diseño\ sin\ título\ \(11\).png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 70px; /* Ajusta el ancho según tu imagen */
  height: 70px; /* Ajusta la altura según tu imagen */
  border-radius: 30px;
  cursor: pointer; 
  transition: transform 0.2s ease-in-out;
}
.home-button::before {
  content: attr(title); /* Toma el valor del atributo title como contenido */
  position: absolute;
  top: 0px;
  left: 0%;
  transform: translateX(-100%);
  background-color: #ff000072;
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.cart-button {
  background-image: url("../../assets/Diseño\ sin\ título\ \(10\).png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 100px;
  right: 10px;
  width: 70px; /* Ajusta el ancho según tu imagen */
  height: 70px; /* Ajusta la altura según tu imagen */
  border-radius: 30px;
  cursor: pointer; 
  transition: transform 0.2s ease-in-out;
}
.cart-button::before {
  content: attr(title); /* Toma el valor del atributo title como contenido */
  position: absolute;
  top: 0px;
  left: 0%;
  transform: translateX(-100%);
  background-color: #ff000072;
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.cart-button:hover::before {
  opacity: 1;
}
.check-button {
  background-image: url("../../assets/icons8-shelves-70.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 100px;
  right: 10px;
  width: 70px; /* Ajusta el ancho según tu imagen */
  height: 70px; /* Ajusta la altura según tu imagen */
  border-radius: 30px;
  cursor: pointer; 
  transition: transform 0.2s ease-in-out;
}

.check-button::before {
  content: attr(title); /* Toma el valor del atributo title como contenido */
  position: absolute;
  top: 0px;
  left: 0%;
  transform: translateX(-100%);
  background-color: #ff000072;
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.check-button:hover::before {
  opacity: 1;
}

.agregado-button {
  background-image: url("../../assets/icons8-pagado-70.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 100px;
  right: 10px;
  width: 70px; /* Ajusta el ancho según tu imagen */
  height: 70px; /* Ajusta la altura según tu imagen */
  border-radius: 30px;
  cursor: pointer; 
  transition: transform 0.2s ease-in-out;
}

.agregado-button::before {
  content: attr(title); /* Toma el valor del atributo title como contenido */
  position: absolute;
  top: 0px;
  left: 0%;
  transform: translateX(-100%);
  background-color: #ff000072;
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.agregado-button:hover::before {
  opacity: 1;
}

.image-container {
  position: relative; /* Para que los elementos internos se posicionen en relación con este contenedor */
}

.image-container img {
  width: 100%; /* Asegurarse de que la imagen ocupe todo el espacio disponible */
  height: auto; /* Altura automática para mantener la proporción original */
}

.price-overlay {
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 30px;
  right: 20px;
  background-image: url("../../assets/Diseño\ sin\ título\ \(18\).png"); /* Ruta de la imagen de fondo */
  color: rgb(255, 255, 255);
  padding: 30px 50px;
  border-radius: 3px;
  animation: slide 3s infinite alternate; 
}
@keyframes slide {
  0% {
    transform: translateX(2);
  }
  50% {
    transform: translateX(20px); /* Ajusta la distancia de desplazamiento */
  }
}
.Generos{
  font-size: 1.2rem;
  margin-bottom: 1px;
  background-color: #000000a2; /* Cambiar el color de fondo según tu preferencia */
  padding: 5px; /* Añadir espaciado alrededor del texto */
  color: #fff
}
.imageContainer {
  text-align: center; /* Centra la imagen horizontalmente */
  margin: 20px 0; /* Margen superior e inferior */
  max-width: 500;
}

.imageContainer img {
  width: 30%;
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  display: block;/* Mantiene la proporción de la imagen */
  
}
/* Estilos para cada elemento de calificación */
.ratingItem {
  background-color: #00000057;
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; 
  border: 1px solid #ccc; /* Borde */
  border-radius: 10px; /* Borde redondeado */
  padding: 35px; /* Espacio interno */
  margin-bottom: 20px; /* Margen inferior entre elementos */
  font-family: "Times New Roman", serif;
    color: rgb(255, 250, 250);
}


.imagenRating {
  text-align: center; /* Centra la imagen horizontalmente */
  margin: 20px 0; /* Margen superior e inferior */
  max-width: 500;
}

/* Estilos para la imagen */
.imagenRating img {
  width: 30%;
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  display: block;/* Mantiene la proporción de la imagen */
  
}
