/* Detail.style.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .container p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .container h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  