/* detail.style.css */


.container {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  /* Propiedades de fondo para la imagen */
  background-image: url('http://localhost:3001/gaming/games/');
  background-size: cover;
  background-position: center top; /* Cambia la posición para que se muestre en la mitad superior */
}

.container img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.container p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.container h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.home-button {
  background-image:url(../../assets/Diseño\ sin\ título\ \(14\).png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 70px; /* Ajusta el ancho según tu imagen */
  height: 70px; /* Ajusta la altura según tu imagen */
  border-radius: 30px;
  cursor: pointer; 
}





