.container {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  /* Propiedades de fondo para la imagen */
  background-image: url('http://localhost:3001/gaming/games/');
  background-size: cover;
  background-position: center top; /* Cambia la posición para que se muestre en la mitad superior */
}

.container img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.container h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: "Tommy the cat", sans-serif;
  color: #fff
}

.container p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  background-color: #000000a2; /* Cambiar el color de fondo según tu preferencia */
  padding: 5px; /* Añadir espaciado alrededor del texto */
  color: #fff
}

.container h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 50px;
  background-color: #ff0000a2;
  color: #fff
}

a {
  text-decoration: none;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.home-button {
  background-image:url(../../assets/Diseño\ sin\ título\ \(11\).png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 70px; /* Ajusta el ancho según tu imagen */
  height: 70px; /* Ajusta la altura según tu imagen */
  border-radius: 30px;
  cursor: pointer; 
  transition: transform 0.2s ease-in-out;
}
.home-button::before {
  content: attr(title); /* Toma el valor del atributo title como contenido */
  position: absolute;
  top: 0px;
  left: 0%;
  transform: translateX(-100%);
  background-color: #ff000072;
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.cart-button {
  background-image: url("../../assets/Diseño\ sin\ título\ \(10\).png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 100px;
  right: 10px;
  width: 70px; /* Ajusta el ancho según tu imagen */
  height: 70px; /* Ajusta la altura según tu imagen */
  border-radius: 30px;
  cursor: pointer; 
  transition: transform 0.2s ease-in-out;
}

.cart-button::before {
  content: attr(title); /* Toma el valor del atributo title como contenido */
  position: absolute;
  top: 0px;
  left: 0%;
  transform: translateX(-100%);
  background-color: #ff000072;
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.cart-button:hover::before {
  opacity: 1;
}


.check-button {
  background-image: url("../../assets/icons8-shelves-70.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 100px;
  right: 10px;
  width: 70px; /* Ajusta el ancho según tu imagen */
  height: 70px; /* Ajusta la altura según tu imagen */
  border-radius: 30px;
  cursor: pointer; 
  transition: transform 0.2s ease-in-out;
}

.check-button::before {
  content: attr(title); /* Toma el valor del atributo title como contenido */
  position: absolute;
  top: 0px;
  left: 0%;
  transform: translateX(-100%);
  background-color: #ff000072;
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.check-button:hover::before {
  opacity: 1;
}



.agregado-button {
  background-image: url("../../assets/icons8-pagado-70.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 100px;
  right: 10px;
  width: 70px; /* Ajusta el ancho según tu imagen */
  height: 70px; /* Ajusta la altura según tu imagen */
  border-radius: 30px;
  cursor: pointer; 
  transition: transform 0.2s ease-in-out;
}

.agregado-button::before {
  content: attr(title); /* Toma el valor del atributo title como contenido */
  position: absolute;
  top: 0px;
  left: 0%;
  transform: translateX(-100%);
  background-color: #ff000072;
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.agregado-button:hover::before {
  opacity: 1;
}






