.game {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
}

.contain {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head h2 {
  font-size: 18px;
  user-select: none;
}