  .home-title {
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 76px;
    color: #9ba5a5;
  }
  
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }; 
  
  .home-div {
    position: relative;
  }