body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(
      to left,
      rgb(188, 189, 192) 0%,
      rgb(13, 58, 58) 100%
    );
    text-align: center;
  }
  
  .home-title {
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 76px;
    color: #9ba5a5;
    font-family: "Bigelow Rules";
  }
  
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  