.imageContainer {
  text-align: center; /* Centra la imagen horizontalmente */
  margin: 20px 0; /* Margen superior e inferior */
  max-width: 500;
}

/* Estilos para la imagen */
.imageContainer img {
  width: 30%;
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  display: block;/* Mantiene la proporción de la imagen */
  
}
.ratingContainer {
    background-image: url('../../assets/Games.jpeg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; 
    border-radius: 10px; /* Borde redondeado */
    padding: 20px; /* Espacio interno */
    margin: 20px 0; /* Margen superior e inferior */
    box-shadow: 0 0 10px rgb(255, 255, 255);
    font-family: "Times New Roman", serif;
    color: rgb(255, 250, 250);
    flex-wrap: wrap;
    height: 200px;
    max-width: 220px;
  }
  
  /* Estilos para cada elemento de calificación */
  .ratingItem {
    background-color: #fff; /* Fondo del elemento */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Borde redondeado */
    padding: 10px; /* Espacio interno */
    flex: 0 0 calc(33.333% - 20px);
    /*margin-bottom: 10px; /* Margen inferior entre elementos */
    margin-right: 20px;
  }
  
  /* Estilos para las estrellas */
  .starContainer {
    display: flex; /* Muestra las estrellas en línea */
    align-items: center; /* Centra verticalmente las estrellas */
    margin-bottom: 20px; /* Espacio entre las estrellas y el párrafo de calificación */
  }
  
  .star {
    color: #ffc107; /* Color de las estrellas llenas */
    font-size: 1.2rem; /* Tamaño de fuente de las estrellas */
    margin-right: 5px; /* Espacio entre las estrellas */
  }
   
